body{
    background: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.grid-layout{
    height: 650px;
    display: grid;
    grid-template-areas: 'cabecera cabecera' 'menu menu' 'contenido lateral' 'footer footer';
    grid-template-rows: 20% 10% auto 10% ;
    background-color: lightblue;
    border: 1px solid black;
}

.caja{
    border: 4px solid black;
    background: gray;
    text-align: center;
    padding: 20px ;
}

.C1{
    background: greenyellow;
    grid-area: cabecera;
}

.C2{
    background: lightpink;
    grid-area: menu;
}

.C3{
    background-color: aliceblue;
    grid-area: contenido;
}

.C4{
    background-color: aliceblue;
    grid-area: lateral;
}

.C5{
    background-color: antiquewhite;
    grid-area: footer;
}