@use 'anidacion';

//Variables 
$color-principal: #7a5353ff;
$color-letra: rgb(34, 87, 167);


body {
    background-color: $color-principal;
}


h1 {
    color: $color-letra;
}

p {
    color: $color-letra;
}

//Mixins

@mixin caja_personalizada ($fondo: white) {
    background-color: $fondo;
    border: 4px solid black;
    box-shadow: 0px 0px 2px black;
    color: $color-letra;
    margin: 20px
}

.caja {
    @include caja_personalizada($color-letra);
}