/*
BEM = Bloque elemento modificador

Se uso classs para todo no ID, no es mas que una metodologia para poder utilizar en CSS.

Class = Aplicar estilos
ID = Aplicar funcionalidades (JavaScript)

Estructura:
    .bloque{      
    }
    .bloque__elemento{   
    }
    .bloque__elemento--modificador{ 
    }


1. No Usar ID 
2. No usar etiquetas
3. Que todo sea un key selector (Seleccionar justo el elemento al cual se le dara estilos)

*/



/*Forma clasica de trabajar*/
.cards {
    width: 400px;
    margin: 10px auto;
    border: 1px solid gray;
    box-sizing: 0px 0px 0px 20px gray;
    padding: 10px;
    border-radius: 5px;
}

.cards .card {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin: 5px;
    background-color: lightskyblue;
}

/*clave*/
.cards .card h3 {
    font-size: 24px;
    font-weight: bold;
}

.cards .card a {
    padding: 10px;
    background: green;
    color: white;
}