//Anidacion
.caja {

    h2 {
        color: rgb(119, 70, 70);
        font-family: Arial, Helvetica, sans-serif;
    }

    p {
        font-family: verdana, geneva, tahoma, sans-serif;
        text-decoration: underline;
    }

    background-color: $color-letra;
}