body {
    background: beige;
}

.flex-container {
    border: 1px solid black;
    background: #ccc;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 80%;
    height: 660px;
    margin: 0 auto;
}

.caja {
    border: 1px solid rgb(70, 69, 69);
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 20px;
    line-height: 250px;
    text-align: center;
    margin: 10px;
}

.c1 {
    background: lightblue;
    order: 1;
    flex-grow: 5;
    flex-basis: 50%;
}

.c2 {
    background: lightcoral;
    order: 3 flex-grow: 2;
    flex-basis: 25%;
}

.c3 {
    background: lightgreen;
    order: 2 flex-grow: 1;
    flex-basis: 25%;
}